# Node.js modules
node_modules/
**/node_modules/
.cache/
**/.cache/

# Large pack files
*.pack
**/*.pack

# Logs
*.log

# JetBrains IDE config (WebStorm, IntelliJ, etc.)
.idea/

# OS-specific files
.DS_Store
Thumbs.db
